header {
	background: #ffd204;
	height: 20px;
	padding-top: 2px;

	@media screen and (min-width: $screen-sm-min) {
		height: 35px;
	}

	img {
		
		display: block;
		margin: auto;
	

		@media screen and (min-width: $screen-sm-min) {
			height: 70px;
		}
	}
}

header.affix-top {
	height: 30px;

	@media screen and (min-width: $screen-sm-min) {
		height: 45px;
	}

	img {
		height: 100px;

		@media screen and (min-width: $screen-sm-min) {
			
		}
	}
}

header.affix{
	height: 20px;
	@media screen and (min-width: $screen-sm-min) {
		height: 25px;
	}
	img {
		height: 55px;

		@media screen and (min-width: $screen-sm-min) {
			
		}
	}
}

.hero-instructions {
	margin-top: 100px;
}

.storify {

}

.storify iframe{
	width: 100% !important;
	max-width: 100% !important;
}