header {
	background: #ffd204;
	height: 20px;
	padding-top: 2px;

	@media screen and (min-width: $screen-sm-min) {
		height: 35px;
	}

	img {
		
		display: block;
		margin: auto;
		height: 45px;

		@media screen and (min-width: $screen-sm-min) {
			height: 70px;
		}
	}
}

.hero-instructions {
	margin-top: 100px;
}

.storify {

}

.storify iframe{
	width: 100% !important;
	max-width: 100% !important;
}