.col-centered {
    float: none;
    margin: 0 auto;
}

.division-topbar {
    @media screen and (min-width: $screen-sm-min) {

    }
}

hr {
    border-top: 1px solid #dcb503;
}

header {
    background: #ffd204;
    height: 0;
    @media screen and (min-width: $screen-sm-min) {}
    img {
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        height: 80px;
        margin: auto;
        @media screen and (min-width: $screen-sm-min) {
            height: 100px;
            margin-top: -45px;
        }
    }
}

header img.logo.scrolled {
    top: -40px;
    @media screen and (min-width: $screen-sm-min) {
        top: -5px;
    }
}

.hero-instructions {
    color: #333;
    font-size: 1.3em;
    background: url("../images/hero-bg.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    @media screen and (min-width: $screen-md-min) {}
}

.more-info {
    color: white;
    background: rgba(51, 51, 51, 0.68);
    padding: 5px;
    p {}
}

.instruction-text {
    margin: 20px 0;
}

.instructions {
    background: #ffd204;
    bottom: 0;
    padding: 10px;
    @media screen and (min-width: $screen-sm-min) {
        margin-top: 8%;
        margin-bottom: 8%;
    }
    img {
        max-width: 100%;
    }
    .icons {
        text-align: center;
        margin: 10px 0;
    }
    .icons a {
        margin: 0;
        @media screen and (min-width: $screen-md-min) {
            margin: 0 20px;
        }
    }
    .icons a:hover {
        text-decoration: none;
    }
    .icons img {
        width: 20%;
        margin: 10px 0;
    }
    iframe {
        display: block;
        margin: auto;
    }
}

.storify {}

.more-storify {
    text-align: center;
    margin-top: 0.6em;
    margin-bottom: 1em;
    font-size: 0.8em;
}

#about {
    font-size: 1.5em;
   	padding-top: 1.5em;
   	padding-bottom: 1.5em;
    background: #eee;
}

.storify iframe {
    width: 100% !important;
    max-width: 100% !important;
    height: 6500px;
    overflow: hidden;
}

.end-tag {
    font-size: 2em;
}

.return-top {
    text-align: center;
}

footer#details {
    padding: 1em 0;
    background: #222222;
    color: #BCBCBC;
}